<!DOCTYPE html>
<html>

<head>
  <title>Sign Up</title>
  <% include ./partials/scripts %>
  <% include ./partials/sidebar %>
</head>

<body>
  <div id=wrapper>
    <% include ./partials/sidebarhtml %>
    <div id="page-content-wrapper">
        <% include ./partials/signup-card %>
    </div>
  </div>
</body>

</html>