.headingFont{
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
}

.brandFont{
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
}

.mainLines{
    font-family: 'Play';
    font-size:30px;
}

.menus{
    font-family: 'Play';
    font-size:18px;
}